{% extends 'outer.html' %}  
{% block body %}
	{% include 'header.html' %}


	<div class="container" id="viewAllTemplate">

		<h2>Programs</h2>

		<table id="data-table" class="table table-striped table-bordered" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Name</th>
                <th>Date Submitted</th>
                <th>Submitted By</th>
                <th>Currrent Owner</th>
            </tr>
        </thead>
        
		<tbody>

			{% for prgm in program_info %}	
			<!--program_info[i] = progID, info, submitted, creatorFName, creatorLName, ownerFName, ownerLName		-->
				<tr>
					<td><a href="/reslife/program/{{ prgm.progid }}">{{ prgm.info.title }}</a></td>
					<td>{{ prgm.submitted | date("dddd, MMMM Do YYYY hh:mm a")}} </td>
					<td>{{ prgm.creatorfname }} {{ prgm.creatorlname }} </td>
					<td>{{ prgm.ownerfname }} {{ prgm.ownerlname }} </td>
				</tr>

			{% endfor %}
		</tbody>
    </table>
	</div>


{% endblock %}