{% extends 'outer.html' %}  
  {% block body %}
    {% include 'header.html' %}

    <div class="container">
      <div class="jumbotron" id="mainBody">
        <h2>Create an Account</h2>
        <form id="AccountCreate" method="post" action="createAccount"> 
          <table class="table">
            <tbody>
              <tr>
                <td>
                  <div class="input-group">
                    <div class="input-group-addon" id="login_area">Given Name</div>
                    <input required type="text" class="form-control" form="AccountCreate" placeholder="First Name" id="firstName" name="fname">
                  </div>
                </td> 
                <td>
                  <div class="input-group">
                    <div class="input-group-addon" id="login_area">Family Name</div>
                    <input required type="text" class="form-control" form="AccountCreate" placeholder="Last Name" id="lastName" name="lname">
                  </div>
                </td>
              </tr>
              <tr>
                <td>                              
                  <div class="input-group">
                    <div class="input-group-addon" id="login_area">Middle Name</div>
                    <input type="text" class="form-control" form="AccountCreate" placeholder="Middle Name" id="MiddleName" name="midname">
                  </div> 
                </td> 
                <td>                
                  <div class="input-group">
                    <div class="input-group-addon" id="login_area">Student ID</div>
                    <input required type="text" class="form-control" form="AccountCreate" placeholder="ex. 301143052" id="studentNum" name="sid">
                  </div> 
                </td>
              </tr>
              <tr> 
                <td>                
                  <div class="input-group">
                    <div class="input-group-addon" id="login_area">E-mail</div>
                    <input required type="text" class="form-control" form="AccountCreate" placeholder="username@host.com" id="email" name="email">
                  </div>
                </td>
                <td>                
                  <div class="input-group">
                    <div class="input-group-addon" id="login_area">Date of Birth</div>
                    <div class="form-group"> 
                      <input required class="form-control" id="date" form="AccountCreate" name="date" placeholder="MM/DD/YYY" type="text"/>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>                
                  <div class="input-group">
                    <div class="input-group-addon" id="login_area">Gender</div>
                    <select required class="form-control" id="sel1" form="AccountCreate" name="gender">
                      <option value="1">Male</option>
                      <option value="2">Female</option>
                      <option value="3">Other</option>
                      
                    </select>
                  </div>
                </td>
                <td>                
                  <div class="input-group">
                    <div class="input-group-addon" id="login_area">Profile Image</div>
                    <input type="file" name="filename" form="AccountCreate" accept="image/jpeg, image/png">
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="input-group">
                    <div class="input-group-addon" id="login_area">Password</div>
                    <input type="password" name="password" form="AccountCreate">
                  </div>
                </td>
              </tr> 
            </tbody>
          </table>
          <div class="input-group" style="text-align:center">
            <input class="btn btn-primary" type="submit" value="Submit" style="width:35%">
          </div>
        </form>
      </div>
    </div>
  {% endblock %}  
