{% extends 'outer.html' %}  
{% block body %}
	{% include 'header.html' %}


	<div class="container">
		<div class="jumbotron" id="mainBody-jumbo">
		<h2>Rental Timeframe</h2>
		<!-- "{{ branch }}equipment1" -->
			<form id="eqform" method="post" action="{{branch}}equipment2/" name="equipment"> 
				{% if err %}
					<div class="alert alert-danger">
						{{ err }}
					</div>
				{% endif %}

				<div class="input-group">
          <div class="input-group-addon">Desired Equipment</div>
			    <select id="equipment" class="select2" multiple="multiple" name="equipment" form="eqform" style="min-width:20%; width:100%">

			    {% for item in eqlist %}
			    <option value="{{ item.eqid }}" >{{ item.eqid }}:{{ item.info.name }} - {{ item.info.description }}</option> 
			    {% endfor %}

			    </select>
			  </div>
			  <input type="hidden" id="equipCount" form="eqform" name="equipCount" value=""/>
	      <input class="btn btn-primary" type="submit" value="Next">
	    </form>
		</div>
	</div>


{% endblock %}