{% extends 'outer.html' %}  
  {% block body %}
    {% include 'header.html' %}

    <div class="container">
      <div class="row" id="body">
        <div class="col-xs-4" id="loginRow">
          <div class="span4 collapse-group">
            <h1 href="#" style="text-align:center"><a data-toggle="collapse" data-target="#studentForm">Student</a></h1>
          <!-- STUDENT SIGN IN FORM -->
            
          {% if error1 %}
            <div class="collapse in" id="studentForm">
          {% else %}
            <div class="collapse" id="studentForm">
          {% endif %}

              <form id="studentSignIn" class="form-student-signin" method="post" action="/students" style="display:all">

                <h2 class="form-student-signin-heading">Please sign in</h2>

                <label for="studInputID" class="sr-only">Login</label>
                <input name="username" type="text" form="studentSignIn" id="studInputID" class="form-control" placeholder="Student ID" required autofocus>                

                <label for="studInputPassword" class="sr-only">Password</label>
                <input name="password" type="password" form="studentSignIn" id="studInputPassword" class="form-control" placeholder="Password" required>

                <input class="btn btn-lg btn-primary btn-block" form="studentSignIn" type="submit" value="Submit" id="studSignIn">

                {% if error1 %}
                <div class="alert alert-danger">
                  Incorrect Username or Password
                </div>
                {% endif %} 

              </form>
              <h2 class="form-signin-middle">Don't have an account?</h2>
              <form action="createAccount">
                <button class="btn btn-lg btn-primary btn-block" id="createAccount" >Create Account</button>
              </form> 
            </div> 
          </div>
        </div>
        <div class="span4 collapse-group">
          <div class="col-xs-4" id="loginRow">
            <h1 href="#" style="text-align:center"><a data-toggle="collapse" data-target="#rezlifeForm">Rezlife</a></h1>

          <!-- RESLIFE SIGN IN FORM -->
        {% if error2 %}
          <div class="collapse in" id="rezlifeForm">
        {% else %}
          <div class="collapse" id="rezlifeForm">
        {% endif %}

            <form id="reslifeSignIn" class="form-reslife-signin" method="post" action="/reslife" style="display:all">
                <h2 class="form-student-signin-heading">Please sign in</h2>

                <label for="resInputID" class="sr-only">Login</label>
                <input name="username" type="text" form="reslifeSignIn" id="resInputID" class="form-control" placeholder="Reslife ID" required autofocus>

                <label for="reslifeInputPassword" class="sr-only">Password</label>
                <input name="password" type="password" form="reslifeSignIn" id="reslifeInputPassword" class="form-control" placeholder="Password" required>

                <input class="btn btn-lg btn-primary btn-block" form="reslifeSignIn" type="submit" value="Submit" id="reslifeSignIn">

                {% if error2 %}
                <div class="alert alert-danger">
                  Incorrect Username or Password
                </div>
                {% endif %} 

              </form>
          </div>
        </div>
        <div class="span4 collapse-group">
          <div class="col-xs-4" id="loginRow">
            <h1 href="#" style="text-align:center"><a data-toggle="collapse" data-target="#housingForm">Housing</a></h1>

           <!-- Housing SIGN IN FORM -->
          {% if error3 %}
            <div class="collapse in" id="housingForm">
          {% else %}
            <div class="collapse" id="housingForm">
          {% endif %}
            <form id="housingSignIn" class="form-housing-signin" method="post" action="/housing" style="display:all">
                <h2 class="form-housing-signin-heading">Please sign in</h2>

                <label for="housingInputID" class="sr-only">Login</label>
                <input name="username" type="text" form="housingSignIn" id="housingInputID" class="form-control" placeholder="Housing ID" required autofocus>

                <label for="housingInputPassword" class="sr-only">Password</label>
                <input name="password" type="password" form="housingSignIn" id="housingInputPassword" class="form-control" placeholder="Password" required>

                <input class="btn btn-lg btn-primary btn-block" form="housingSignIn" type="submit" value="Submit" id="housingSignIn">

                {% if error3 %}
                <div class="alert alert-danger">
                  Incorrect Username or Password
                </div>
                {% endif %} 

              </form>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
