{% extends 'outer.html' %}  
  {% block body %}
    {% include 'header.html' %}

    <div class="container">
      <div class="row-eq-height" id="body">
        <div class="col-xs-4">
          <div id="profileBio">
            <img src="/profile_default.png" alt="Profile Picture" style="width:98%; height:98%; display:block; margin:auto"></img>
            <ul class="list-group">
              <li class="list-group-item"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> 
              {{ student.firstname }} {{ student.lastname }} </li>
              <li class="list-group-item"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> 
                {% if resinfo %}
                  {{ resinfo.description }}
                {% else %}
                  I don't have an active residence life agreement!
                {% endif %}
              </li>
              <li class="list-group-item"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span>

                {% if resinfo %}
                  {{ resinfo.buildingid }} {{ resinfo.roomid }}
                {% else %}
                  I don't have an active residence life agreement!
                {% endif %}
              </li>
              <li class="list-group-item"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> {{ student.sid }}</li>
              <li class="list-group-item"><span class="glyphicon glyphicon-gift" aria-hidden="true"></span> {{ student.birthdate | date("MMMM Do YYYY") }}</li>
              <li class="list-group-item"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> email@host.somthing</li>


            </ul>
          </div>
        </div>
        <div class="col-xs-8" id="profileBody"> 
          <div class="row" id="top-about">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h2> Recent Incident Activity </h2>
              </div>
                <!-- Incidents Table-->
                {% if user.role == 1 %}
                <h4> Nothing to see here! </h4>
                {% else %}
                <table class="table">
                  <tr>
                    <th>Title</th>
                    <th>Date</th>
                    <th>Submitted by</th>
                  </tr>
                  <tr>
                    <td> Broken Babies Born Badly </td>
                    <td> October 3rd, 2017 </td>
                    <td> Alan Rickman </td>
                  </tr>
                  <tr>
                    <td> Child Chaser Chastised and Charged </td>
                    <td> October 4th, 2017 </td>
                    <td> Patty Spivot </td>
                  </tr>
                </table>
                {% endif %}
            </div>
          </div>
          <div class="row" id="bottom-about">
             <div class="panel panel-default">
              <div class="panel-heading">
                <h2> Upcoming Program Attendance </h2>
              </div>
            
                <table class="table">

                  <tr>
                    <th>Title</th>
                    <th>Date</th>
                    <th>Location</th>
                    <th>Organized by</th>
                  </tr>

                {% for program in prolist %}
                  <tr>
                  <td> <a href="/students/program/{{ program.programid }}"> {{ program.info.title }} </a> </td>
                  <td> {{ program.event_date | date("hh:mm a, MMMM Do, YYYY") }} </td>
                  <td> {{ program.info.building }} </td>
                  <td> {{ program.firstname }} {{ program.lastname }} </td>
                  </tr>  
                {% endfor %}
                </table>
            </div>
          </div>
          <div class="row" id="bottom-about">
             <div class="panel panel-default">
              <div class="panel-heading">
                <h2> Recently Attended Programs </h2>
              </div>
                <!-- Previosly Attended Programs Table-->
                <table class="table">
                  <tr>
                    <th>Title</th>
                    <th>Date</th>
                    <th>Location</th>
                    <th>Organized by</th>
                  </tr>
                 {% for program in oldprolist %}
                  <tr>
                  <td> <a href="/students/program/{{ program.programid }}"> {{ program.info.title }} </a> </td>
                  <td> {{ program.event_date | date("hh:mm a, MMMM Do, YYYY") }} </td>
                  <td> {{ program.info.building }} </td>
                  <td> {{ program.firstname }} {{ program.lastname }} </td>
                  </tr>  
                {% endfor %}
                </table>
            </div>
          </div>
        </div>  
      </div>
    </div>
{% endblock %}
