{% extends 'outer.html' %}  
  {% block body %}
    {% include 'header.html' %}

    <div class="container">
      <div class="row-eq-height" id="body">
        <div class="col-xs-4">
          <div id="profileBio">
            <img src="/profile_default.png" alt="Profile Picture" style="width:98%; height:98%; display:block; margin:auto"></img>
            <ul class="list-group">
              <li class="list-group-item"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> 
              {{ studAccount.firstname }} {{ studAccount.lastname }} </li>
              <li class="list-group-item"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Wildcat Tent Village</li>
              <li class="list-group-item"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span> Tent 1</li>
              <li class="list-group-item"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> {{ studAccount.sid }}</li>
              <li class="list-group-item"><span class="glyphicon glyphicon-gift" aria-hidden="true"></span> {{ studAccount.birthdate | date("dddd, MMMM Do YYYY") }}</li>
              <li class="list-group-item"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> email@host.somthing</li>


            </ul>
          </div>
        </div>
        <div class="col-xs-8" id="profileBody"> 
          <div class="row" id="top-about">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h2> Recent Incident Activity </h2>
              </div>
                <!-- Incidents Table-->
                <table class="table">
                  <tr>
                    <th>Title</th>
                    <th>Date</th>
                    <th>Submitted by</th>
                  </tr>
                  <tr>
                    <td> Broken Babies Born Badly </td>
                    <td> October 3rd, 2017 </td>
                    <td> Alan Rickman </td>
                  </tr>
                  <tr>
                    <td> Child Chaser Chastised and Charged </td>
                    <td> October 4th, 2017 </td>
                    <td> Patty Spivot </td>
                  </tr>
                </table>
            </div>
          </div>
          <div class="row" id="bottom-about">
             <div class="panel panel-default">
              <div class="panel-heading">
                <h2> Upcoming Program Attendance </h2>
              </div>
                <!-- Table for Upcoming Programs-->
                <table class="table">
                  <tr>
                    <th>Title</th>
                    <th>Date</th>
                    <th>Location</th>
                    <th>Organized by</th>
                  </tr>
                  <tr>
                    <td> Demons Demonstrating Driving Dodges </td>
                    <td> October 5th, 2017 </td>
                    <td> An absolute hellscape </td>
                    <td> Alan Rickman </td>
                  </tr>
                  <tr>
                    <td> Floating Five Fathoms Farther with Famous Friend, Pharrel Williams </td>
                    <td> October 6th, 2017 </td>
                    <td> Pharrels crib, it's tite </td>
                    <td> Patty Spivot </td>
                  </tr>
                </table>
            </div>
          </div>
          <div class="row" id="bottom-about">
             <div class="panel panel-default">
              <div class="panel-heading">
                <h2> Recently Attended Programs </h2>
              </div>
                <!-- Previosly Attended Programs Table-->
                <table class="table">
                  <tr>
                    <th>Title</th>
                    <th>Date</th>
                    <th>Location</th>
                    <th>Organized by</th>
                  </tr>
                  <tr>
                    <td> Gratuitously Gangrenous Grandmas </td>
                    <td> October 1st, 2017 </td>
                    <td> Also an absolute hellscape </td>
                    <td> Alan Rickman </td>
                  </tr>
                  <tr>
                    <td> Hardly Having Hilarious Hair </td>
                    <td> October 2nd, 2017 </td>
                    <td> Also Pharrel's crib, it's tite </td>
                    <td> Patty Spivot </td>
                  </tr>
                </table>
            </div>
          </div>
        </div>  
      </div>
    </div>
{% endblock %}
